{# templates/movie/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <h1>WeCine</h1>

    <div class="container">
        <div class="row">
            {# Sidebar avec la liste des genres #}
            <div class="col-3">
                <div class="genre-list">
                    {% for genre in genres %}
                        <div class="genre-item">
                            {{ genre.name }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {# Liste des films #}
            <div class="col-9">
                <div class="movie-list">
                    {% for movie in movies %}
                        <div class="movie-item">
                            <h3>{{ movie.title }}</h3>
                            <p>{{ movie.overview }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}