
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> webpack ###
/node_modules/
/public/build/
npm-debug.log
package-lock.json
###< webpack ###

###> IDE ###
.idea/
.vscode/
###< IDE ###

###> Docker ###
docker-compose.override.yml
###< Docker ###

###> Cache and logs ###
/var/cache/*
/var/log/*
###< Cache and logs ###

.DS_Store